/* section 1 */
.section-1{
    height: 85vh;
    width: 100%;
    /* background-color: rebeccapurple; */
    position: relative;
    margin-top: 2%;
    display: flex;
}
.img-1{
    height: 95%;
    width: 65%;
    /* background-color: gainsboro; */
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: 1%;
}
.img-1 img{
    height: 99%;
}
.-img-sec-1{
    height: 90%;
    margin-top: 1%;
    width: 33%;
    margin-left: 1%;
    /* background-color: olive; */
    flex-direction: column;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    overflow: hidden;
}
.-img-sec-1 img:nth-child(1){
    height: 60%;
    /* margin-top: 1%; */
}
.-img-sec-1 img:nth-child(2){
    height: 50%;
    width: 100%;
}

/* 

section 2

*/
.section-2{
    min-height: 100vh;
    margin-top: 5%;
    width: 100%;
    background-color: rgb(247, 240, 240);
    position: relative;
    display: flex;
    flex-direction: column;
}
.section-2 p{
    width: 80%;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 2%;
    text-align: center;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: brown;
}
.sec-2-child{
    height: 120vh;
    width: 80%;
    /* background-color: tan; */
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    position: relative;
}
._box-sec-2{
    height: 50%;
    width: 50%;
    display: inline-block;
    background-color: green;
    backface-visibility: hidden;
    position: relative;
}
._box-sec-2:nth-child(1){
 background-color: rgb(76, 108, 76);
 background: url('https://rukminim2.flixcart.com/image/850/1000/xif0q/wrist-band/1/n/p/magnetic-bracelet-for-couples-stone-bracelets-for-girlfriend-original-imaggf9yrzp6k3h4.jpeg?q=90&crop=false')no-repeat center center/cover;
 backdrop-filter: b
 5;
}
._box-sec-2:nth-child(2){
    background-color: red;
    background: url('https://i.etsystatic.com/14110719/r/il/636217/3980853013/il_fullxfull.3980853013_8lt4.jpg')no-repeat center center/cover;
    
}
._box-sec-2:nth-child(3){
    float: right;
    background-color: khaki;
    background: url('https://t4.ftcdn.net/jpg/03/68/47/47/360_F_368474721_ELFdPlMGlNCrWClLGFdKuIVqyaWTIbvN.jpg')no-repeat center center/cover;
}
._box-sec-2:nth-child(4){
    float: right;
    position: absolute;
    top: 0;
    background-color: firebrick;
    background: url('https://www.ompoojashop.com/image/cache/Rudraksha/six-6-Mukhi-Rudraksha-1-1-1000x1000.jpg')no-repeat center center/cover;
}
._box-sec-2-content{
    height: 50%;
    width: 100%;
    /* background-color: tan; */
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
._box-sec-2-content span{
    margin-left: 5%;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
._box-sec-2-content button{
    width: 150px;
    height: 40px;
    margin-left: 5%;
    margin-top: 5%;
    background: none;
    border: none;

}
._box-sec-2-content button a{
    display: flex;
    height: 100%;
    width: 100%;
    background: white;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
    border: 2px solid white;

}
._box-sec-2-content button a:hover{
    background: none;
    border: 2px solid white;
    color: white;

}
a.disabled-link {
    
    pointer-events: none;
    cursor: not-allowed;
  }
  
a.disabled-link:hover{
    cursor: not-allowed;
}

/* 
section 3
*/
._sec-3-title{
    text-align: center;
    margin-top: 5%;
    font-size: 2.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: brown    ;
}
.section-3{
    margin-top: 1%;
    height: 150vh;
    width: 100%;
    /* background-color: teal; */
    display: flex;
    flex-direction: column  ;
    align-items: center;
    justify-content: space-around;
}
._sec-3-child{
    height: 55%;
    width: 90%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
._sec-3-child:nth-child(2){
    flex-direction: row-reverse;
    height: 35%;
}
.-inf-bx{
    height: 55%;
    width: 40%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.head-inf{
    font-size: 2rem;
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.-inf-bx p{
    width: 80%;
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2%;
    color: rgb(105, 103, 103);
}
.btn-inf{
    height: 40px;
    width: 50%;
    background: brown;
    margin-top: 5%;
    border: none;
    border-radius: 5px;
    color: white;
}
.img-bx-sc{
    height: 95%;
    width: 42%;
    /* background-color: khaki; */
    display: flex;
    align-items: center;
    justify-content: end;
}
.img-bx-sc img{
    height: 95%;
}

/* 
section 4
*/
.section-4{
    height: 80vh;
    width: 99%;
    margin: auto;
    margin-top: 2%;
    background-color: red;
    margin-bottom: 0%;
    background: url('https://cdn.shopify.com/s/files/1/0648/0514/2781/files/Frame_35055.png?v=1695375582') no-repeat center center/cover
    ;
}
.section-4-lower{
    height: 25vh;
    width: 99%;
    margin: auto;
    background: tan;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5%;
}
.section-4-lower-boxes{
    height: 80%;
    width: 18%;
    background-color: rgb(100, 76, 45);
}

/* 
    section 5
*/
.section-5{
    height: 120vh;
    width: 100%;
    margin-bottom: 5%;
    /* background-color: red; */
}
.section-5 h1{
    text-align: center;

}
.product-sec{
    height: 80%;
    width: 95%;
    /* background-color: yellow; */
    margin: auto;
    position: relative;
    display: flex;
    margin-top: 5%;


}
.product-sec ._product-box{
    width: 40%;
    /* background-color: teal; */
    margin-top: 2%;
    margin-left: 5%;
    height: 90%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

}
._product-box img{
    height: 100%;
}

._off{
    height: 50px;
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    border-bottom-left-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
._product-info{
    height: 90%;
    /* background-color: tan; */
    width: 40%;
    margin-top: 2%;
    margin-left: 5%;
}
._heading{
    display: block;
    font-size: 3rem;
    /* background-color: red; */
    padding-left: 5%;
    margin-bottom: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
._rud-price{
    display: block;
    padding-left: 5%;
    margin-bottom: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    margin-top: 2%;
}
.-product-more span:nth-child(1){
    display: block;
    padding-left: 5%;
    font-size: 1.5rem;
    margin-top: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
}
.-product-more span:nth-child(2){
    display: block;
    padding-left: 5%;
    font-size: 1rem;
    margin-top: 2%;
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.-info-ul{
    margin-left: 5%;
    /* display: flex; */
    /* background-color: rebeccapurple; */
    margin-top: 5%;
    margin-bottom: 5%;

}
.-info-ul li{
    margin-top: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(53, 51, 51);

}
._add-to-cart{
    height: 40px;
    width: 200px;
    margin-top: 5%;
    margin-left: 5%;
    border: none;

}
._add-to-cart a{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    border-radius: 2px;

}

/* 

section 6 - customer testimonial

*/
.section-6{
    height: 100vh;
    position: relative;
    width: 100%;
    background-color: rgb(250, 246, 246);
    display: flex;
    flex-direction: column;

}

.main-test-block{
    height: 60%;
    width: 80%;
    /* background-color: yellow; */
    margin: auto;
    margin-top: 2%;
    /* overflow: hidden; */
    display: flex;
    position: relative;
    overflow-x: scroll;

}
.main-test-block::-webkit-scrollbar{
    display: none;
}
.-slide-block{
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: khaki; */
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.-slide-block:nth-child(2){
    position: absolute;
    left: 100%;
    height: 100%;
    width: 100%;
    /* background-color: rgb(58, 56, 42); */

}
.-slide-block:nth-child(3){
    position: absolute;
    left: 200%;
    height: 100%;
    width: 100%;
    /* background-color: rgb(137, 137, 136); */

}
.btns-slide{
    position: fixed;
    top: 40%;
   height: 50px;
   width: 50px;
   background-color: rgb(235, 235, 233);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
}
.slide-left{
    position: absolute;
  
    left: 5%;
    z-index: 5;
}
.slide-right{
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    right: 5%;
    z-index: 5;
    color: gray;
    cursor: pointer;
}

.rev-box{
    height: 320px;
    width: 280px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rev-box span{
    display: blocks;
    text-align: center;
}
.rev-star{
    height: 40px;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 80%;
 
}
.rev-star img{
    height: 180%;
}
.rev-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2%;
    color: gray;
}
.rev-cust-name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2%;
    color: gray;
}
.rev-cust-date{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 1%;
    font-weight: bold;
    color: gainsboro;
}
.rev-pr-img{
    height: 90px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.rev-pr-img img{
    height: 80%;
}

/* 

section 7 - policies

*/
.section-7{
    height: 50vh;
    width: 100%;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.-sec-7-box{
    height: 90%;
    width: 28%;
    background-color: tan;
}
/* 

section 8 - blog area

*/
.section-8{
    height: 70vh;
    margin-top: 0%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}
.blog-title{
    position: absolute;
    top: -5%;
}
.blogs-box{
    height: 200px;
    width: 280px;
    /* background-color: tan; */
    overflow: hidden;
    display: flex;
    flex-direction: column;

}
.blogs-box img{
    height: 50%;
}
.blog-heading{
    display: block;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 1.5rem;
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.blogs-box a{
    display: block;
    margin-left: 5%;
    margin-top: 5%;

}

/* 

section 9 -top listed products

*/
.section-9{
    height: 100vh;
    width: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.product-box{
    height: 400px;
    width: 280px;
    /* background-color: teal; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.img-box{
    height: 70%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.img-box img{
    height: 80%;
    transition: all 0.3s ease-in-out;
}
.sale{
    height: 30px;
    width: 60px;
    background-color: brown;
    position: absolute;
    top: 5%;
    right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(237, 230, 230);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
    
    

}
.product-box:hover{
    box-shadow: 1px 1px 15px rgb(201, 194, 194);
}
.product-box:hover img{
    height: 100%;
}

._pr-info{
    height: 40%;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
._pr-heading{
    display: block;
    margin-top: 2%;
    text-decoration: underline;
    color: brown;
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
._pr-price{
    display: block;
    margin-top: 5%;
    width: 100%;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: brown;
    text-align: center;
}
._pr-price span{
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5%;
    color: gray;
    font-size: 1.1rem;

}
._pr-btn{
    margin-top: 5%;
    height: 40px;
    width: 80%;
    border: none;

}
._pr-btn a{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9rem;
    color: brown;
    text-decoration: none;
    border: 1px solid rgb(120, 116, 116);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
._pr-btn a:hover{
    /* border: 2px solid rgb(16, 16, 16); */
    background: grey;
    color: white;
    
}

._view-all{
    position: absolute;
    bottom: 5%;
    height: 40px;
    width: 150px;
    border-radius: 15px;
    border: 1px solid grey;
    background: rgb(251, 250, 250);
    color: rgb(78, 76, 76);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
._view-all:hover{
   box-shadow: 1px 1px 5px rgb(159, 151, 151);
}

/* 

footer

*/
._footer{
    height: 80vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    position: relative;
}
._footer ul:nth-child(1){
    height: 60%;
    width: 20%;
    margin-left: 5%;
    margin-top: 5%;
    /* background-color: teal; */
}
._footer ul:nth-child(1) li{
    margin-top: 5%;
    list-style: none;
}
._footer ul:nth-child(1) li a{
    text-decoration: none;
    color: grey;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.2s ease-in-out;
}
._footer ul:nth-child(1) li a:hover{
    text-decoration: underline;
}
._fot-ul-heading{
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: brown;
}
._social-handle{
    height: 60px;
    width: 300px;
    bottom: 3%;
    position: absolute;
    background-color: tan;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
._soc-handle-box{
    height: 80%;
    width: 20%;
    background-color: teal;
}
.copyright-box{
    height: 40px;
    width: 50%;
    /* background: tan; */
    position: absolute;
    bottom: 2%;
    left: 2%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
}
.product-box:nth-child(1){
    margin-top: 0%;
}


@media (max-width:500px) {
    .navbar {
        height: 10vh;
        width: 100%;
        /* background-color: tan; */
        display: flex;
        position: relative;
        display: none;
    }
  
        .sec-2-child{
            height: 120vh;
            width: 80%;
            /* background-color: tan; */
            margin: auto;
            margin-bottom: 2%;
            margin-top: 2%;
            position: relative;
         
            overflow-y: scroll;
        }
        ._box-sec-2{
            height: 50%;
            width: 95%;
            display: block;
            background-color: green;
            backface-visibility: hidden;
            margin: auto;
            
        }
        ._box-sec-2:nth-child(1){
         background-color: rgb(76, 108, 76);
         /* background: url('https://rukminim2.flixcart.com/image/850/1000/xif0q/wrist-band/1/n/p/magnetic-bracelet-for-couples-stone-bracelets-for-girlfriend-original-imaggf9yrzp6k3h4.jpeg?q=90&crop=false')no-repeat center center/cover; */
         
        }
        ._box-sec-2:nth-child(2){
            background-color: red;
            /* background: url('https://i.etsystatic.com/14110719/r/il/636217/3980853013/il_fullxfull.3980853013_8lt4.jpg')no-repeat center center/cover; */
            
        }
        ._box-sec-2:nth-child(3){
            float: none;
            background-color: khaki;
            /* background: url('https://t4.ftcdn.net/jpg/03/68/47/47/360_F_368474721_ELFdPlMGlNCrWClLGFdKuIVqyaWTIbvN.jpg')no-repeat center center/cover; */
        }
        ._box-sec-2:nth-child(4){
            float: none;
            position: relative;
            top: 0;
            /* background-color: firebrick; */
            /* background: url('https://www.ompoojashop.com/image/cache/Rudraksha/six-6-Mukhi-Rudraksha-1-1-1000x1000.jpg')no-repeat center center/cover; */
        }

        
.section-3{
    margin-top: 1%;
    height: 200vh;
    width: 100%;
    /* background-color: teal; */
    display: flex;
    flex-direction: column  ;
    align-items: center;
    justify-content: space-around;
}
._sec-3-child{
    height: 50%;
    width: 90%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
._sec-3-child:nth-child(2){
    flex-direction: column-reverse;
    height: 35%;
}
.img-bx-sc {
    height: 65%;
    width: 80%;
    /* background-color: khaki; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.-inf-bx {
    height: 300px;
    width: 300px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
._sec-3-title {
    text-align: center;
    margin-top: 5%;
    font-size: 1.8rem;
    
    
}
.section-2 p {
    width: 80%;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 2%;
    text-align: center;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: brown;
}

.section-5 {
    min-height: 150vh;
    width: 100%;
    margin: auto;
    margin-bottom: 5%;
    
    /* background-color: red; */
}
.product-sec {
    height: 140vh;
    width: 95%;

    margin: auto;
    position: relative;
    display: block;
    flex-direction: column;
    margin-top: 5%;
    /* overflow-y: scroll; */
}
.product-sec ._product-box {
    width: 90%;
    /* background-color: teal; */
    margin: auto;
    margin-top: 2%;
    margin-left: 5%;
    height: 50vh;
    position: relative;
    border-radius: 5px;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
   
}
._product-info {
    height: 60%;
    /* background-color: tan; */
    width: 80%;
    margin: auto;
    margin-top: 2%;
    overflow-y: scroll;
    /* margin-left: 5%; */
}
._add-to-cart {
    height: 40px;
    width: 200px;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 20%;
    border: none;
}
.main-test-block {
    height: 80%;
    width: 80%;
    /* background-color: yellow; */
    margin: auto;
    margin-top: 2%;
    /* overflow: hidden; */
    display: flex;
    position: relative;
    overflow-x: scroll;
}
.-slide-block {
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: khaki; */
    overflow-y: scroll;
    display: block;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.rev-box {
    height: 320px;
    width: 280px;
    /* background-color: rgb(196, 196, 178); */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 1%;
}
.section-8 {
    height: 156vh;
    margin-top: 15%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}
.slide-right {
 display: none;
}
.section-9 {
    height: 300vh;
    width: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: unset;
    position: relative;
    flex-direction: column;
}
.product-box {
    height: 350px;
    width: 290px;
    /* background-color: teal; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    margin-top: 3%;
}
.blog-title{
    top: 2%;
    font-size: 1.8rem;
}
.product-box:nth-child(2){
    margin-top: 30%;
}
.img-bx-sc img {
    height: 74%;
}

._footer ul:nth-child(1) {
    height: 80%;
    width: 57%;
    margin-left: 5%;
    margin-top: 5%;
    /* background-color: teal; */
}
._social-handle {
    height: 80%;
    width: 25%;
    bottom: unset;
    position: absolute;
    /* background-color: tan; */
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    top: 4%;
}
._soc-handle-box {
    height: 22%;
    width: 80%;
    /* background-color: teal; */
}
.copyright-box {
    height: 40px;
    width: 85%;
    /* background: tan; */
    position: absolute;
    bottom: 2%;
    left: 2%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
}
.section-1 {
    height: 85vh;
    width: 100%;
    /* background-color: rebeccapurple; */
    position: relative;
    margin-top: 2%;
    display: block;
}
.img-1 {
    height: 50%;
    width: 95%;
    /* background-color: gainsboro; */
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: 1%;
}
.-img-sec-1 {
    height: 51%;
    margin-top: 1%;
    width: 95%;
    margin-left: 1%;
    /* background-color: olive; */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}
.-img-sec-1 img:nth-child(1) {
    height: 82%;
    /* margin-top: 1%; */
}
._promo p{
    text-align: center;
    font-size: 0.8rem;
}
.section-4 {
    height: 80vh;
    width: 87%;
    margin: auto;
    margin-top: 2%;
    background-color: red;
    margin-bottom: 0%;
    background: url(https://cdn.shopify.com/s/files/1/0648/0514/2781/files/Frame_35055.png?v=1695375582) no-repeat center center / cover;
}
}

@media (max-height:900px) {
    
    ._promo p {
        text-align: center;
        font-size: 0.6rem;
    }
    .section-1 {
        height: 54vh;
        width: 100%;
        /* background-color: rebeccapurple; */
        position: relative;
        margin-top: 2%;
        display: block;
    }
    .img-1 {
        height: 34%;
        width: 95%;
        /* background-color: gainsboro; */
        margin: auto;
        margin-top: 1%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
       
    }
    .-img-sec-1 {
        height: 46%;
        margin: auto;
        margin-top: 1%;
        width: 95%;
   
        /* background-color: olive; */
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-around;
        overflow: hidden;
    }
    .sec-2-child {
        height: 120vh;
        width: 80%;
        /* background-color: tan; */
        margin: auto;
        margin-bottom: 2%;
        margin-top: 2%;
        position: relative;
        overflow-y: scroll;
    }
    ._box-sec-2 {
        height: 28%;
        width: 95%;
        display: block;
        background-color: green;
        backface-visibility: hidden;
        margin: auto;
    }
    .section-3 {
        margin-top: 1%;
        height: 99vh;
        width: 100%;
        /* background-color: teal; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    ._sec-3-child {
        height: 50%;
        width: 90%;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    ._sec-3-child:nth-child(2) {
        flex-direction: column;
        height: 35%;
    }
    .-inf-bx {
        height: 300px;
        width: 245px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .img-bx-sc {
        height: 65%;
        width: 80%;
        /* background-color: khaki; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }
    .img-bx-sc img {
        height: 92%;
    }
    .section-4 {
        height: 19vh;
        width: 97%;
        margin: auto;
        margin-top: 9%;
        background-color: red;
        margin-bottom: 0%;
        background: url(https://cdn.shopify.com/s/files/1/0648/0514/2781/files/Frame_35055.png?v=1695375582) no-repeat center center / cover;
    }
    .section-5 {
        min-height: 91vh;
        width: 100%;
        margin: auto;
        margin-bottom: 5%;
        /* background-color: red; */
    }
    .section-5 h1 {
        text-align: center;
        font-size: 1.2rem;
    }
    .product-sec {
        height: 105vh;
        width: 95%;
        margin: auto;
        position: relative;
        display: block;
        flex-direction: column;
        margin-top: 5%;
        /* overflow-y: scroll; */
    }
    .product-sec ._product-box {
        width: 83%;
        /* background-color: teal; */
        margin: auto;
        margin-top: 2%;
        /* margin-left: 5%; */
        height: 32vh;
        position: relative;
        border-radius: 5px;
        /* overflow: hidden; */
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
    }
    ._product-info {
        height: 60%;
        /* background-color: tan; */
        width: 80%;
        margin: auto;
        margin-top: 2%;
        overflow-y: scroll;
        /* margin-left: 5%; */
    }
    ._heading {
        display: block;
        font-size: 2rem;
        /* background-color: red; */
        padding-left: 5%;
        margin-bottom: 2%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .section-6 {
        height: 80vh;
    }
    ._sec-3-title {
        text-align: center;
        margin-top: 13%;
        font-size: 1.2rem;
    }
    .main-test-block {
        height: 80%;
        width: 80%;
        /* background-color: yellow; */
        margin: auto;
        margin-top: 2%;
        /* overflow: hidden; */
        display: flex;
        position: relative;
        overflow-x: scroll;
    }
    .-slide-block:nth-child(2) {
        position: absolute;
        left: 100%;
        height: 100%;
        width: 100%;
        display: none;
        /* background-color: rgb(58, 56, 42); */
    }.-slide-block:nth-child(3) {
        position: absolute;
        left: 100%;
        height: 100%;
        width: 100%;
        display: none;
        /* background-color: rgb(58, 56, 42); */
    }
    .section-8 {
        height: 102vh;
    }
    .blogs-box {
        height: 185px;
        width: 230px;
        /* background-color: tan; */
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .section-9 {
        height: 200vh;
        width: 100%;
        /* background-color: rebeccapurple; */
        display: flex;
        align-items: center;
        justify-content: unset;
        position: relative;
        flex-direction: column;
    }
    .product-box {
        height: 350px;
        width: 263px;
        /* background-color: teal; */
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
        margin-top: 3%;
    }
    .product-box:nth-child(2) {
        margin-top: 30%;
    }
    ._footer {
        height: 44vh;
    }
    ._footer ul:nth-child(1) {
        height: 90%;
        width: 47%;
        margin-left: 14%;
        margin-top: 5%;
        /* background-color: teal; */
    }
    .copyright-box {
        height: 40px;
        width: 95%;
        /* background: tan; */
        position: absolute;
        bottom: 2%;
        left: 2%;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: grey;
    }
    ._social-handle {
        height: 80%;
        width: 25%;
        bottom: unset;
        position: absolute;
        /* background-color: tan; */
        right: 15%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        top: 4%;
    }
    ._view-all{
        bottom: 1%;
    }
}

